name: Push component to https://components.espressif.com
on:
  push:
jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Upload component to the component registry
        uses: espressif/upload-components-ci-action@v2
        with:
          components: "ftb-8-md: ." # component_name: directory
          namespace: "sfxfs"
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
